.home {
  position: relative;
  width: 100%;
}

.home__block {
  position: relative;
  height: 1000px;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
}

.home__photo {
  background-image: url(../../img/photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 3px rgb(185, 185, 185) solid;
  box-shadow: 0 0 10px #444;
  position: absolute;
  right: 0;
  top: 13%;
  width: 650px;
  height: 650px;
}

.home__info {
  position: absolute;
  margin-top: 130px;
  max-width: 800px;
  color: var(--white-color);
}

.home__text {
  font-style: normal;
  font-weight: 700;
}

.home__title {
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
}

.home__subtitle {
  margin: 40px 0 40px 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: var(--background-color);
}

.home__btn {
  background-color: var(--background-color);
  color: var(--white-color);
  text-transform: uppercase;
  transition: 0.5s;
}

.home__btn:hover {
  cursor: pointer;
  background-color: var(--white-color);
  color: var(--background-color);
}



/* 1440px */

@media screen and (max-width: 1440px) {
  .home__info {
    width: 700px;
  }

  .home__photo {
    width: 600px;
    height: 600px;
  }
}

/* 1320px */

@media screen and (max-width: 1320px) {
  .home__info {
    width: 600px;
  }
}


/* 1280px */

@media screen and (max-width: 1280px) {
  .home__info {
    width: 600px;
  }
  
  .home__subtitle {
    font-size: 30px;
    line-height: 28px;
  }

  .home__photo {
    width: 500px;
    height: 500px;
  }
}



/* 1140px */

@media screen and (max-width: 1140px)  {
  .home__block {
    height: 900px;
  }

  .home__info {
    width: 800px;
  }
  
  .home__text {
    font-size: 24px;
    line-height: 36px;
  }
  
  .home__title {
    font-size: 60px;
    line-height: 70px;
  }
  
  .home__photo {
    display: none;
  }
}



/* 900px */

@media screen and (max-width: 900px) {
  .home__block {
    height: 800px;
  }

  .home__info {
    width: 700px;
  }
}

/* 780px */

@media screen and (max-width: 780px) {
  .home__info {
    width: 600px;
  }
}


/* 650px */

@media screen and (max-width: 650px) {
  .home__block {
    height: 800px;
  }

  .home__info {
    width: 500px;
  }
  
  .home__title {
    font-size: 53px;
    line-height: 61px;
  }

  .home__subtitle {
    font-size: 24px;
    line-height: 23px;
  }

  .btn {
    font-size: 23px;
    line-height: 28px;
    padding: 16px 26px;
  }
}


/* 560px */

@media screen and (max-width: 560px) {
  .home__block {
    height: 800px;
  }

  .home__info {
    width: 380px;
    margin-top: 100px;
  }
  
  .home__title {
    font-size: 48px;
    line-height: 56px;
  }

  .home__subtitle {
    margin: 25px 0 25px 0;
  }

  .btn {
    font-size: 20px;
    line-height: 26px;
    padding: 16px 26px;
  }
}


/* 480px */

@media screen and (max-width: 480px) {
  .container__home {
    padding-top: 50px;
  }

  .home__block {
    height: 600px;
  }

  .home__info {
    width: 350px;
    margin-top: 0;
  }
  
  .home__title {
    font-size: 44px;
    line-height: 55px;
  }

  .home__subtitle {
    font-size: 24px;
    line-height: 23px;
  }

  .btn {
    font-size: 20px;
    line-height: 23px;
    padding: 16px 25px;
  }

}



/* 420px */

@media screen and (max-width: 420px) {
  .home__block {
    padding-top: 0;
  }

  .home__info {
    width: 320px;
  }

  .home__title {
    font-size: 40px;
    line-height: 51px;
  }

  .btn {
    font-size: 18px;
    line-height: 22px;
    padding: 14px 22px;
  }
}

/* 350px */

@media screen and (max-width: 350px) {
  .home__info {
    width: 250px;
  }

  .home__title {
    font-size: 38px;
    line-height: 48px;
  }

  .home__subtitle {
    font-size: 22px;
    line-height: 21px;
  }

  .btn {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
  }
}